<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bolink">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.STATUS_BAR" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!--sip 需要的权限-->
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--开机自启-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <!--&lt;!&ndash;sip 需要的权限&ndash;&gt;-->
    <!--&lt;!&ndash;web sip&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--&lt;!&ndash;<uses-permission android:name="android.permission.RECORD_AUDIO" />&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <!--&lt;!&ndash;web sip&ndash;&gt;-->
    <!--&lt;!&ndash;web x5 core&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--&lt;!&ndash;web x5 core&ndash;&gt;-->
    <!--&lt;!&ndash;安装后自启&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.RESTART_PACKAGES" />-->
    <!--&lt;!&ndash;<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />&ndash;&gt;-->


    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->

    <application
        android:name=".AdsApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name="com.vguang.vbarlib.MainActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <service android:name=".service.DownloadService" />

        <receiver android:name=".receiver.NetWorkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name=".receiver.IncomingCallReceiver" android:label="Call Receiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.SipDemo.INCOMING_CALL"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".receiver.StartupReceiver">
            <intent-filter>
                <!--开机自启-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <!--自动安装后自启-->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name=".process.ProcessService"
            android:process="com.processwatcher" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f4a339f9d321b7ef895944c0" /> <!--  </>值来自开发者平台取得的AppKey-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a01714caed1792d8d00011e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
    </application>

</manifest>