<!doctype html>
<html class="no-js" lang="" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=11">
    <title></title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.js"></script>


    <!-- Demo styles -->
    <link rel="stylesheet" href="css/swiper.min.css">

</head>
<!--禁止右键 禁止拖动打开 禁止选择-->
<!--<body oncontextmenu="return false" ondragstart='return false;' onselectstart="return false;" onselectstart="on"
      style="-moz-user-select:none;">-->
<body>
<object classid="clsid:37F04483-0ADA-4865-826F-D920AEC072B1" codebase="setup.exe" width="10" height="10"
        id="MoneyAcceptor"></object>

<div class="div-flex">
    <!--<div class="div-item-top">
        <video autoplay class="video-top" preload="none" id="id-video-top" loop controls>
            <source src="http://vjs.zencdn.net/s.mp4v/ocean" type="video/mp4">
        </video>
    </div>-->
    <div class="div-item-middle" id="keyboard">

        <div class="load" v-show="dialog">
            <i></i>
            <div class="dialog">
                <span class="dialog-title">提&nbsp;&nbsp;示</span>
                <div class="dialog-content"><h1>如果现在退出，您{{dialogContent}}将不会退还，确定离开吗？</h1></div>
                <div class="dialog-buttons">
                    <p @click="clickDialogOk()">确定离开</p>
                    <a class="p-devide"></a>
                    <p @click="clickDialogCancle()">取消</p>
                </div>
            </div>
        </div>
        <div class="load" v-show="dialogError">
            <i></i>
            <div class="dialog">
                <span class="dialog-title">提&nbsp;&nbsp;示</span>
                <div class="dialog-content"><h1>查询失败，请重试</h1></div>
                <div class="dialog-buttons">
                    <p @click="clickDialogError()">确定</p>
                </div>
            </div>
        </div>
        <div class="load" v-show="dialogAlert">
            <i></i>
            <div class="dialog">
                <span class="dialog-title">提&nbsp;&nbsp;示</span>
                <div class="dialog-content"><h1>请核对现金是否统计正确，点击确定后，当前统计将被清空！是否取出现金？</h1></div>
                <div class="dialog-buttons">
                    <p @click="clickAlertConfirm()">确定</p>
                    <a class="p-devide"></a>
                    <p @click="clickAlertCancel()">取消</p>
                </div>
            </div>
        </div>
        <div class="load" v-show="dialogLogin">
            <i></i>
            <div class="dialog">
                <div class="logindiv">
                    <span >账号&nbsp;&nbsp;</span>
                    <input v-model="loginaccout"/>
                </div>
                <div class="logindiv">
                    <span>密码&nbsp;&nbsp;</span>
                    <input v-model="loginpwd" type="password"/>
                </div>
                <div class="dialog-buttons">
                    <a class="p-devide"></a>
                    <p @click="clickAlertLogin()">登&nbsp;录</p>
                    <a class="p-devide"></a>
                </div>
            </div>
        </div>
        <div class="load" v-show="dialogLoginAdvance">
            <i></i>
            <div class="dialog">
                <div class="logindiv">
                    <span>请输入车场后台设置的登录密码</span>

                </div>
                <div class="logindiv">
                    <span>密码&nbsp;&nbsp;</span>
                    <input v-model="loginpwd" type="password"/>
                </div>
                <div class="dialog-buttons">
                    <a class="p-devide"></a>
                    <p @click="clickAlertLoginAdvance()">登&nbsp;录</p>
                    <a class="p-devide"></a>
                    <p @click="clickAlertCancel()">取&nbsp;消</p>
                    <a class="p-devide"></a>
                </div>
            </div>
        </div>
        <div class="load" v-show="loading">
            <i></i>
            <img src="img/load.gif"/>
        </div>
        <!--<div class="load" v-show="dialogLogin">-->
        <!--<i></i>-->
        <!--<div class="dialog">-->
        <!--<span class="dialog-title">缴费机登录</span>-->
        <!--<div class="dialog-content"><h1>如果现在退出，您{{dialogContent}}将不会退还，确定离开吗？</h1></div>-->
        <!--<div class="dialog-buttons">-->
        <!--<p @click="clickDialogOk()">取消</p>-->
        <!--<a class="p-devide"></a>-->
        <!--<p @click="clickDialogCancle()">登录</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--@click="clickCallHost()"-->
        <!--onclick="clicks()"-->
        <div class="item-left">
            <img v-bind:src="left[0]"/>
            <img v-bind:src="left[1]"/>
            <img v-bind:src="left[2]"/>
            <img v-bind:src="left[3]"/>
            <!--<div class="call-host" id="clickme" @click="clickCallHost()">-->
            <!--<p>{{callHostContent}}</p>-->
            <!--</div>-->
        </div>
        <div class="item-right" v-show="showkeyboard">
            <!--页面1 输入车牌号中的汉字-->
            <div class="top-tab">
                <img src="img/tab_carnum_c.png">
                <img src="img/tab_nocar.png" @click="clickTab_no(1)">
            </div>
            <div class="right-carnumber">
                <div class="right-carnumber2">
                    <input type="text" v-model="carnumber" value={{carnumber}}  readonly="readonly"/>
                    <img src="img/pic_del.png" @click="clickDel"/>
                </div>
                <span @click="clickSearch" class="right-search"></span>

                <!--<img @click="clickSearch" src="img/pic_search.png" class="right-search"/>-->
            </div>
            <div class="right-keyboard">
                <p v-for="item in keyboards" @click="clickP(item.text)" class="p-keyboard">{{item.text}}</p>
            </div>
            <div class="right-indicate">
                <img src="img/indicate_r.png">
            </div>
        </div>
        <div class="item-right" v-show="showkeyboard2">
            <!--页面1.5 输入车牌号中的字母数字-->
            <div class="top-tab">
                <img src="img/tab_carnum_c.png">
                <img src="img/tab_nocar.png" @click="clickTab_no(2)">
            </div>
            <div class="right-carnumber">
                <div class="right-carnumber2">
                    <input type="text" v-model="carnumber" value={{carnumber}}  readonly="readonly"/>
                    <img src="img/pic_del.png" @click="clickDel"/>
                </div>
                <span @click="clickSearch" class="right-search"></span>
            </div>
            <div class="right-keyboard">
                <p v-for="item in keyboards2" @click="clickP(item.text)" class="p-keyboard">{{item.text}}</p>
            </div>
            <div class="right-indicate">
                <img src="img/indicate_l.png">
            </div>
        </div>
        <div class="item-right" v-show="showkeyboard_no">
            <!--页面1.5.5 无车牌页面-->
            <div class="top-tab">
                <img src="img/tab_carnum.png" @click="clickTab">
                <img src="img/tab_nocar_c.png">
            </div>
            <div class="carno-code">
                <div class="carno-code-img">
                    <img v-bind:src="url_nocarnum" width="236px" height="236px">
                    <!--http://www.liantu.com/images/2013/liantu.png-->
                    <p>无牌车请扫码查询</p></div>

                <div class="carno-code-imgs">
                    <div>
                        <img src="img/pic_wechat.jpg" width="98px" height="98px">

                    </div>
                    <div>
                        <img src="img/pic_alipay.png" width="98px" height="98px">

                    </div>
                </div>

            </div>
        </div>
        <div class="item-right" v-show="showdetail">
            <!--页面2 根据车牌号查询到订单-->
            <div style="position:relative" class="showdetail-head">
                <div style="position:absolute;left:0;top:0;z-index: 1" class="showdetail-head2">
                    <span>{{orderdetail_title}}</span>
                </div>
                <img src="img/head_price.png" style="position:absolute;left:0;top:0;"/>
            </div>
            <div class="right-detail">
                <div class="detail-img" style="position:relative">
                    <div class="details" style="position:absolute;left:0;top:0;z-index: 1">

                        <div class="detail-item">
                            <p>车&nbsp;&nbsp;牌&nbsp;&nbsp;号：{{plate_number}}</p>
                            <p>停车时长：{{order_duration}}</p></div>
                        <div class="detail-item">
                            <p>订单金额：{{order_price}}元</p>
                            <p>入场时间：{{order_intime}}</p></div>
                    </div>
                    <img v-bind:src="InparkImageUrl" width="761px" height="450px"
                         style="position:absolute;left:0;top:0;">/>
                </div>
                <div class="detail-buttons">
                    <img src="img/step_up.png" @click="clickOrderDetailPre">
                    <img src="img/step_down.png" @click="clickOrderDetailNext" v-show="!orderdetailNextGray">
                    <img src="img/step_down_grey.png" v-show="orderdetailNextGray">
                    <span class="homeIcon" @click="clickHome()"></span>

                    <!--<span @click="clickSearch" class="right-search"></span>-->
                </div>
            </div>
        </div>
        <div class="item-right" v-show="showorders">
            <!--页面3 根据车牌号查询到多个订单-->
            <div style="position:relative" class="showdetail-head">
                <div style="position:absolute;left:0;top:0;z-index: 1" class="showdetail-head2">
                    <span>查询到以下结果，请手动确认</span>
                </div>
                <img src="img/head_price.png" style="position:absolute;left:0;top:0;"/>
            </div>
            <div class="right-keyboard right-detail">
                <div class="detail-img detail-img2">
                    <img class="imglist" width="350px" height="200px" v-for="item in datas.orders"
                         v-bind:src="item.inparkImageUrl"
                         @click="clickImg(item)" :class="{imglistactive: selectIndex == item.inparkImageUrl}"/>
                </div>
                <div class="detail-buttons">
                    <img src="img/step_up.png" @click="clickOrdersPre">
                    <img src="img/step_down.png" @click="clickOrdersNext" v-show="false">
                    <img src="img/step_down_grey.png" v-show="true">
                    <span class="homeIcon" @click="clickHome()"></span>
                </div>
            </div>
        </div>
        <div class="item-right" v-show="showcodepay">
            <!--页面页面4 扫码支付-->
            <div class="top-tab">
                <img src="img/tab_paycode_c.png">
                <img src="img/tab_paycash.png" @click="tabCashClick">
            </div>
            <div class="carno-code">
                <div class="carno-code-img">
                    <img v-bind:src="url_codepay" width="236px" height="236px">
                    <p>扫码支付停车费</p></div>
                <div class="carno-code-imgs">
                    <div>
                        <img src="img/pic_wechat.jpg" width="98px" height="98px">
                    </div>
                    <div>
                        <img src="img/pic_alipay.png" width="98px" height="98px">
                    </div>
                </div>

            </div>
            <div class="detail-buttons">
                <!--<img src="img/step_up.png" @click="clickPayPre" height="55px">-->
                <!--<img src="img/step_down.png" height="55px">-->
                <!---->
                <!--<span class="homeIcon" @click="clickHome()"></span>-->

                <p @click="clickPayPre">上一步</p>
                <a class="p-devide"></a>
                <p @click="clickHome()">退出</p>
            </div>
        </div>
        <div class="item-right" v-show="showcashpay">
            <!--页面5 现金支付-->
            <div class="top-tab">
                <img src="img/tab_paycode.png" @click="tabCodeClick(4)">
                <img src="img/tab_paycash_c.png">
            </div>
            <div class="cashpayimg">
                <p class="cashtips">提示：本机不支持找零，余额可充值话费。接收面额1元、5元、10元、20元、50元<br>请在{{count}}秒内完成操作</p>
                <div class="cashin-lr">
                    <div class="cashin">
                        <p class="putincash">请投入现金</p>
                        <img src="img/cash_in.png">
                    </div>
                    <div class="cashin-right">
                        <p>停车费：{{order_price}}元</p>
                        <p class="cashin-devide"></p>
                        <p>已投金额：{{getCash}}元</p>
                        <p>找零金额：{{cashReturn}}元</p>
                    </div>
                </div>
            </div>
            <div class="detail-buttons">
                <!--<img src="img/step_up.png" @click="clickPayPre" height="55px">-->
                <!--<img src="img/step_down.png" height="55px">-->
                <!--<span class="homeIcon" @click="clickHome()"></span>-->
                <p @click="clickCashPre(3)">上一步</p>
                <a class="p-devide"></a>
                <p @click="clickCashExit(1)">退出</p>
                <!--<a class="p-devide"></a>-->
                <!--<p>话费充值</p>-->
            </div>
        </div>
        <div class="item-right" v-show="showcashpay2">
            <!--页面5.5 现金支付-->
            <div class="top-tab">
                <img src="img/tab_paycode.png">
                <img src="img/tab_paycash_c.png">
            </div>
            <div class="cashpayimg">
                <p class="cashtips">提示：本机不支持找零，余额可充值话费。接收面额1元、5元、10元、20元、50元<br>请在{{count}}秒内完成操作</p>
                <div class="cashin">
                    <div class="pay-finish" v-show="!showPayFail">
                        <div class="pay-finish-left">
                            <img src="img/pic_ok.png"></div>
                        <div class="pay-finish-right">
                            <p class="p-finish-l">￥{{order_price}}&nbsp;缴费成功</p>
                            <p class="p-finish-s">&nbsp;{{freeOutTime}}分钟内离场免费</p>
                        </div>
                    </div>
                    <div class="pay-finish" v-show="showPayFail">
                        <div class="pay-finish-left">
                            <img src="img/pic_error.png"></div>
                        <div class="pay-finish-right">
                            <p class="p-finish-l">缴费失败</p>
                        </div>
                    </div>
                    <p class="putincashline"></p>

                    <div><p class="p-charge">找零金额{{cashReturn}}元,请输入待充值手机号</p>
                        <div class="right-carnumber2 cash2phone">
                            <input type="text" v-model="phonenumber" value={{phonenumber}} class="inputphone"
                                   placeholder="输入手机号" style="text-align: left;"  readonly="readonly"/>
                            <img src="img/pic_del.png" @click="clickDel_phone" class="delphone"/>
                        </div>
                    </div>

                    <div class="cashnums">
                        <p v-for="num in numberten" @click="clickP_phone(num)" class="p-keyboard">{{num}}</p>
                    </div>

                </div>
            </div>
            <div class="detail-buttons">
                <!--<img src="img/step_up.png" @click="clickPayPre" height="55px">-->
                <!--<img src="img/step_down.png" height="55px">-->
                <!--<span class="homeIcon" @click="clickHome()"></span>-->
                <p @click="clickCashExit(2)">放弃</p>
                <a class="p-devide"></a>
                <p @click="clickCharge()">充值</p>
            </div>
        </div>
        <div class="item-right" v-show="showfinishpay">
            <!--页面6 支付成功-->
            <div class="pay-finish" v-show="showfinishcharge">
                <div class="pay-finish-left">
                    <img src="img/pic_ok.png"></div>
                <div class="pay-finish-right">
                    <p class="p-finish-l">充&nbsp;值&nbsp;成&nbsp;功</p>
                    <p class="p-finish-s">金&nbsp;&nbsp;&nbsp;&nbsp;额：{{cashReturn}}元</p>
                </div>
            </div>
            <div class="pay-finish" v-show="!showfinishcharge">
                <div class="pay-finish-left">
                    <img src="img/pic_ok.png"></div>
                <div class="pay-finish-right">
                    <p class="p-finish-l">缴&nbsp;费&nbsp;成&nbsp;功</p>
                    <p class="p-finish-s">金&nbsp;&nbsp;&nbsp;&nbsp;额：{{order_price}}元</p>
                    <p class="p-finish-s">找&nbsp;&nbsp;&nbsp;&nbsp;零：{{cashReturn}}元</p>
                    <p class="p-finish-s">车牌号：{{plate_number}}</p>
                </div>
            </div>
            <span class="finish-divid" v-show="!showfinishcharge"></span>
            <div class="pay-finish-msg" v-show="!showfinishcharge">
                <p>{{freeOutTime}}分钟内离场免费</p>
                <p>欢迎下次光临</p></div>
            <div class="pay-finish-ok"><span @click="clickHome()">完&nbsp;成</span></div>
        </div>
        <div class="item-right" v-show="showError">
            <!--页面x 请求失败-->
            <div class="pay-finish">
                <div class="pay-finish-left">
                    <img src="img/pic_error.png"></div>
                <div class="pay-finish-right">
                    <p class="p-finish-l">查&nbsp;询&nbsp;失&nbsp;败</p>
                    <p class="p-finish-s">未找到您的在场订单，请点击退出</p>
                    <p class="p-finish-s">返回首页，再次尝试</p>
                </div>
            </div>
            <div class="pay-finish-ok"><span @click="clickHome()">退&nbsp;出</span></div>
        </div>

        <div class="item-right" v-show="showadvance">
            <!--页面 高级登录-->
            <div style="position:relative" class="showdetail-head">
                <div style="position:absolute;left:0;top:0;z-index: 1" class="showdetail-head2">
                    <span>高级登录</span>
                </div>
                <img src="img/head_price.png" style="position:absolute;left:0;top:0;"/>
            </div>
            <div class="right-keyboard right-detail">
                <div class="detail-advance">
                    <div class="advance-item"><p>当前设备：{{centralpaymentName}}</p>
                        <p>其中</p>
                        <p>1元：{{MoneyBox.m1}}张</p>
                        <p>10元：{{MoneyBox.m10}}张</p>
                        <p>50元：{{MoneyBox.m50}}张</p>
                    </div>
                    <div class="advance-item">
                        <p>当前金额：{{MoneyBox.total}}元</p>
                        <p></p>
                        <p>5元：{{MoneyBox.m5}}张</p>
                        <p>20元：{{MoneyBox.m20}}张</p>
                        <p>100元：{{MoneyBox.m100}}张</p>
                    </div>
                </div>
                <div class="detail-buttons">
                    <p @click="clickAdCash()">取出现金</p>
                    <a class="p-devide"></a>
                    <p @click="clickAdError()">查看异常</p>
                    <a class="p-devide"></a>
                    <p @click="clickHome()">回到主页</p>
                    <a class="p-devide"></a>
                    <p @click="clickAdvanceExit()">退出登录</p>
                </div>
            </div>
        </div>
        <div class="item-right" v-show="showadvanceErr">
            <!--页面 高级登录-异常订单-->
            <div style="position:relative" class="showdetail-head">
                <div style="position:absolute;left:0;top:0;z-index: 1" class="showdetail-head2">
                    <span>高级登录</span>
                </div>
                <img src="img/head_price.png" style="position:absolute;left:0;top:0;"/>
            </div>
            <div class="right-keyboard right-detail">
                <div class="advance-item2">
                    <p v-for="(item,index) in AbNormalOrders" class="error-order">
                        {{index+1}}.{{item.carNumber}},停车费{{item.orderPrice}}元,投入现金{{item.getMoney}}元,支付停车费{{item.pay}}元,未充值话费{{item.unCharge}}元</p>
                </div>

                <div class="detail-buttons">
                    <p @click="clickAdBack()">返回</p>
                </div>
            </div>
        </div>


    </div>
    <script src="js/index.js"></script>
    <div class="div-item-bottom">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/1.jpg" width="1080px" height="607.5px"></div>
                <div class="swiper-slide"><img src="img/2.jpg" width="1080px" height="607.5px"></div>
                <div class="swiper-slide"><img src="img/3.jpg" width="1080px" height="607.5px"></div>
                <div class="swiper-slide"><img src="img/4.jpg" width="1080px" height="607.5px"></div>
                <div class="swiper-slide"><img src="img/5.jpg" width="1080px" height="607.5px"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <!-- Swiper JS -->
        <script src="js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationClickable: true,
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: 2500,
                autoplayDisableOnInteraction: false,
                loop: true
            });
        </script>
    </div>
</div>
<script>

</script>
</body>
</html>
